<section class="block container">
  <div class="block-header">
    <h2 class="block-heading">Heading</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam quos tempore
      incidunt ad. Soluta assumenda mollitia quis obcaecati quidem deleniti ut
      laudantium labore non porro odio cupiditate, explicabo, ex vitae.
    </p>
  </div>
</section>
<section class="block block-black block-left">
  <div class="container">
    <div class="block-header">
      <h2 class="block-heading">Heading</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam quos
        tempore incidunt ad. Soluta assumenda mollitia quis obcaecati quidem
        deleniti ut laudantium labore non porro odio cupiditate, explicabo, ex
        vitae.
      </p>
    </div>
  </div>
</section>
