<section class="block container">
  <header class="block-header">
    <h2>Host on The Cloud to Keep Growing</h2>
    <p class="ptwo">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum, magni.
    </p>
  </header>
  <article class="grid grid-1x2 feature">
    <div class="feature-content">
      <span class="icon-container">
        <svg class="icon icon-primary">
          <use xlink:href="Images/sprite.svg#easy"></use>
        </svg>
      </span>
      <h3 class="feature-heading">Super Easy to Use</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo maxime quod
        iure odit, autem sit excepturi sunt aut minima, libero dignissimos
        repellendus soluta magnam quisquam, nobis nulla debitis recusandae
        exercitationem!
      </p>
      <a href="" class="link-arrow">learn more</a>
    </div>
    <img class="feature-image" src="Images/easy.jpg" alt="" />
  </article>

  <article class="grid grid-1x2 feature">
    <div class="feature-content">
      <span class="icon-container">
        <svg class="icon icon-primary">
          <use xlink:href="Images/sprite.svg#easy"></use>
        </svg>
      </span>
      <h3 class="feature-heading">Super Easy to Use</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo maxime quod
        iure odit, autem sit excepturi sunt aut minima, libero dignissimos
        repellendus soluta magnam quisquam, nobis nulla debitis recusandae
        exercitationem!
      </p>
      <a href="" class="link-arrow">learn more</a>
    </div>
    <img class="feature-image" src="Images/easy.jpg" alt="" />
  </article>

  <article class="grid grid-1x2 feature">
    <div class="feature-content">
      <span class="icon-container">
        <svg class="icon icon-primary">
          <use xlink:href="Images/sprite.svg#easy"></use>
        </svg>
      </span>
      <h3 class="feature-heading">Super Easy to Use</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo maxime quod
        iure odit, autem sit excepturi sunt aut minima, libero dignissimos
        repellendus soluta magnam quisquam, nobis nulla debitis recusandae
        exercitationem!
      </p>
      <a href="" class="link-arrow">learn more</a>
    </div>
    <img class="feature-image" src="Images/easy.jpg" alt="" />
  </article>

  <article class="grid grid-1x2 feature">
    <div class="feature-content">
      <span class="icon-container">
        <svg class="icon icon-primary">
          <use xlink:href="Images/sprite.svg#easy"></use>
        </svg>
      </span>
      <h3 class="feature-heading">Super Easy to Use</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo maxime quod
        iure odit, autem sit excepturi sunt aut minima, libero dignissimos
        repellendus soluta magnam quisquam, nobis nulla debitis recusandae
        exercitationem!
      </p>
      <a href="" class="link-arrow">learn more</a>
    </div>
    <img class="feature-image" src="Images/easy.jpg" alt="" />
  </article>
</section>
