<div class="media">
  <div class="media-image">
    <svg class="icon icon-primary">
      <use xlink:href="Images/sprite.svg#snap"></use>
    </svg>
  </div>
  <div class="media-body">
    <h3 class="media-title">Easy Start & Managed Updates</h3>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo libero
      repudiandae doloribus voluptatum reiciendis ut consequatur laboriosam
      temporibus corporis vel, eligendi expedita odit maiores. Illum libero
      ipsum rem accusamus ducimus!
    </p>
  </div>
</div>
