<blockquote class="quote">
  <p class="quote-text">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum
    dignissimos, dolor reprehenderit, doloremque, rem amet provident velit earum
    voluptate ratione nihil nostrum officia optio quasi quod saepe ex impedit
    pariatur!
  </p>
  <footer>
    <div class="media">
      <div class="media-image">
        <svg class="icon icon-primary quote-line">
          <use xlink:href="Images/sprite.svg#line"></use>
        </svg>
      </div>
      <div class="media-body">
        <h3 class="media-title quote-author">John Smith</h3>
        <p class="quote-company">ABC Company</p>
      </div>
    </div>
  </footer>
</blockquote>
